<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the AcmeStack under one or more contributor license
  ~ agreements. See the NOTICE file distributed with this work for
  ~ additional information regarding copyright ownership.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mapper namespace="dao">
    <sql id="columns_id">id,user_id,scopespace_id,dict_key,dict_value,version,state,created_at,updated_at</sql>

    <select id="selectDictionary">
        SELECT <include refid="columns_id"> </include> FROM dictionary
        <where>
            <if test="{Dictionary.id} != nil and {Dictionary.id} != 0">AND id = #{Dictionary.id} </if>
            <if test="{Dictionary.user_id} != nil and {Dictionary.user_id} != 0">AND user_id = #{Dictionary.user_id} </if>
            <if test="{Dictionary.scopespace_id} != nil and {Dictionary.scopespace_id} != 0">AND scopespace_id = #{Dictionary.scopespace_id} </if>
            <if test="{Dictionary.dict_key} != nil">AND dict_key = #{Dictionary.dict_key} </if>
            <if test="{Dictionary.dict_value} != nil">AND dict_value = #{Dictionary.dict_value} </if>
            <if test="{Dictionary.version} != nil">AND version = #{Dictionary.version} </if>
            <if test="{Dictionary.state} != nil">AND state = #{Dictionary.state} </if>
            <if test="{Dictionary.created_at} != nil">AND created_at = #{Dictionary.created_at} </if>
            <if test="{Dictionary.updated_at} != nil">AND updated_at = #{Dictionary.updated_at} </if>
        </where>
    </select>

    <select id="selectDictionaryCount">
        SELECT COUNT(*) FROM dictionary
        <where>
            <if test="{Dictionary.id} != nil and {Dictionary.id} != 0">AND id = #{Dictionary.id} </if>
            <if test="{Dictionary.user_id} != nil and {Dictionary.user_id} != 0">AND user_id = #{Dictionary.user_id} </if>
            <if test="{Dictionary.scopespace_id} != nil and {Dictionary.scopespace_id} != 0">AND scopespace_id = #{Dictionary.scopespace_id} </if>
            <if test="{Dictionary.dict_key} != nil">AND dict_key = #{Dictionary.dict_key} </if>
            <if test="{Dictionary.dict_value} != nil">AND dict_value = #{Dictionary.dict_value} </if>
            <if test="{Dictionary.version} != nil">AND version = #{Dictionary.version} </if>
            <if test="{Dictionary.state} != nil">AND state = #{Dictionary.state} </if>
            <if test="{Dictionary.created_at} != nil">AND created_at = #{Dictionary.created_at} </if>
            <if test="{Dictionary.updated_at} != nil">AND updated_at = #{Dictionary.updated_at} </if>
        </where>
    </select>

    <insert id="insertDictionary">
        INSERT INTO dictionary (id,user_id,scopespace_id,dict_key,dict_value,state,created_at,updated_at)
        VALUES(
        #{Dictionary.id},
        #{Dictionary.user_id},
        #{Dictionary.scopespace_id},
        #{Dictionary.dict_key},
        #{Dictionary.dict_value},
        #{Dictionary.version},
        #{Dictionary.state},
        #{Dictionary.created_at},
        #{Dictionary.updated_at}
        )
    </insert>

    <insert id="insertBatchDictionary">
        INSERT INTO dictionary (id,user_id,scopespace_id,dict_key,dict_value,state,created_at,updated_at)
        VALUES
        <foreach item="item" index="index" collection="{0}" open="" separator="," close="">
            (#{item.Dictionary.id},#{item.Dictionary.user_id},#{item.Dictionary.scopespace_id},#{item.Dictionary.dict_key},#{item.Dictionary.dict_value},
            #{item.Dictionary.version},#{item.Dictionary.state},#{item.Dictionary.created_at},#{item.Dictionary.updated_at})
        </foreach>
    </insert>

    <update id="updateDictionary">
        UPDATE dictionary
        <set>
            <if test="{Dictionary.user_id} != nil and {Dictionary.user_id} != 0"> user_id = #{Dictionary.user_id} </if>
            <if test="{Dictionary.scopespace_id} != nil and {Dictionary.scopespace_id} != 0"> scopespace_id = #{Dictionary.scopespace_id} </if>
            <if test="{Dictionary.dict_key} != nil"> dict_key = #{Dictionary.dict_key} </if>
            <if test="{Dictionary.dict_value} != nil"> dict_value = #{Dictionary.dict_value} </if>
            <if test="{Dictionary.state} != nil"> state = #{Dictionary.state} </if>
            <if test="{Dictionary.created_at} != nil"> created_at = #{Dictionary.created_at} </if>
            <if test="{Dictionary.updated_at} != nil"> updated_at = #{Dictionary.updated_at} </if>
        </set>
        WHERE id = #{Dictionary.id}
    </update>

    <update id="updateDictionaryBatch">
        UPDATE dictionary
        SET state =
        <foreach collection="{0}" index="index" item="item" separator=" " open="CASE id " close=" END,">
            WHEN #{item.Dictionary.id} THEN #{item.Dictionary.state}
        </foreach>
        updated_at =
        <foreach collection="{0}" index="index" item="item" separator=" " open="CASE id " close=" END ">
            WHEN #{item.Dictionary.id} THEN #{item.Dictionary.updated_at}
        </foreach>
        WHERE id IN
        <foreach collection="{0}" index="index" item="item" open="(" close=")" separator=",">
            #{item.Dictionary.id}
        </foreach>
    </update>

    <delete id="deleteDictionary">
        DELETE FROM dictionary
        <where>
            <if test="{Dictionary.id} != nil and {Dictionary.id} != 0">AND id = #{Dictionary.id} </if>
            <if test="{Dictionary.user_id} != nil and {Dictionary.user_id} != 0">AND user_id = #{Dictionary.user_id} </if>
            <if test="{Dictionary.scopespace_id} != nil and {Dictionary.scopespace_id} != 0">AND scopespace_id = #{Dictionary.scopespace_id} </if>
            <if test="{Dictionary.dict_key} != nil">AND dict_key = #{Dictionary.dict_key} </if>
            <if test="{Dictionary.dict_value} != nil">AND dict_value = #{Dictionary.dict_value} </if>
            <if test="{Dictionary.state} != nil">AND state = #{Dictionary.state} </if>
            <if test="{Dictionary.created_at} != nil">AND created_at = #{Dictionary.created_at} </if>
            <if test="{Dictionary.updated_at} != nil">AND updated_at = #{Dictionary.updated_at} </if>
        </where>
    </delete>

    <delete id="deleteDictionaryBatch">
        DELETE FROM dictionary
        WHERE id IN
        <foreach collection="{0}" index="index" item="item" open="(" close=")" separator=",">
            #{item.Dictionary.id}
        </foreach>
    </delete>
</mapper>
