<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the AcmeStack under one or more contributor license
  ~ agreements. See the NOTICE file distributed with this work for
  ~ additional information regarding copyright ownership.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mapper namespace="dao">
    <sql id="columns_id">id,name,note,state,created_at,updated_at</sql>

    <select id="selectScopeSpace">
        SELECT <include refid="columns_id"> </include> FROM scopespace
        <where>
            <if test="{ScopeSpace.id} != nil and {ScopeSpace.id} != 0">AND id = #{ScopeSpace.id} </if>
            <if test="{ScopeSpace.name} != nil">AND name = #{ScopeSpace.name} </if>
            <if test="{ScopeSpace.note} != nil">AND note = #{ScopeSpace.note} </if>
            <if test="{ScopeSpace.state} != nil">AND state = #{ScopeSpace.state} </if>
            <if test="{ScopeSpace.created_at} != nil">AND created_at = #{ScopeSpace.created_at} </if>
            <if test="{ScopeSpace.updated_at} != nil">AND updated_at = #{ScopeSpace.updated_at} </if>
        </where>
    </select>

    <select id="selectScopeSpaceCount">
        SELECT COUNT(*) FROM scopespace
        <where>
            <if test="{ScopeSpace.id} != nil and {ScopeSpace.id} != 0">AND id = #{ScopeSpace.id} </if>
            <if test="{ScopeSpace.name} != nil">AND name = #{ScopeSpace.name} </if>
            <if test="{ScopeSpace.note} != nil">AND note = #{ScopeSpace.note} </if>
            <if test="{ScopeSpace.state} != nil">AND state = #{ScopeSpace.state} </if>
            <if test="{ScopeSpace.created_at} != nil">AND created_at = #{ScopeSpace.created_at} </if>
            <if test="{ScopeSpace.updated_at} != nil">AND updated_at = #{ScopeSpace.updated_at} </if>
        </where>
    </select>

    <insert id="insertScopeSpace">
        INSERT INTO scopespace (id,name,note,state,created_at,updated_at)
        VALUES(
        #{ScopeSpace.id},
        #{ScopeSpace.name},
        #{ScopeSpace.note},
        #{ScopeSpace.state},
        #{ScopeSpace.created_at},
        #{ScopeSpace.updated_at}
        )
    </insert>

    <insert id="insertBatchScopeSpace">
        INSERT INTO scopespace (id,name,note,state,created_at,updated_at)
        VALUES
        <foreach item="item" index="index" collection="{0}" open="" separator="," close="">
            (#{item.ScopeSpace.id},#{item.ScopeSpace.name},#{item.ScopeSpace.note},#{item.ScopeSpace.state},#{item.ScopeSpace.created_at},#{item.ScopeSpace.updated_at})
        </foreach>
    </insert>

    <update id="updateScopeSpace">
        UPDATE scopespace
        <set>
            <if test="{ScopeSpace.name} != nil"> name = #{ScopeSpace.name} </if>
            <if test="{ScopeSpace.note} != nil"> note = #{ScopeSpace.note} </if>
            <if test="{ScopeSpace.state} != nil"> state = #{ScopeSpace.state} </if>
            <if test="{ScopeSpace.created_at} != nil"> created_at = #{ScopeSpace.created_at} </if>
            <if test="{ScopeSpace.updated_at} != nil"> updated_at = #{ScopeSpace.updated_at} </if>
        </set>
        WHERE id = #{ScopeSpace.id}
    </update>

    <update id="updateScopeSpaceBatch">
        UPDATE scopespace
        SET state =
        <foreach collection="{0}" index="index" item="item" separator=" " open="CASE id " close=" END,">
            WHEN #{item.ScopeSpace.id} THEN #{item.ScopeSpace.state}
        </foreach>
        updated_at =
        <foreach collection="{0}" index="index" item="item" separator=" " open="CASE id " close=" END ">
            WHEN #{item.ScopeSpace.id} THEN #{item.ScopeSpace.updated_at}
        </foreach>
        WHERE id IN
        <foreach collection="{0}" index="index" item="item" open="(" close=")" separator=",">
            #{item.ScopeSpace.id}
        </foreach>
    </update>

    <delete id="deleteScopeSpace">
        DELETE FROM scopespace
        <where>
            <if test="{ScopeSpace.id} != nil and {ScopeSpace.id} != 0">AND id = #{ScopeSpace.id} </if>
            <if test="{ScopeSpace.name} != nil">AND name = #{ScopeSpace.name} </if>
            <if test="{ScopeSpace.note} != nil">AND note = #{ScopeSpace.note} </if>
            <if test="{ScopeSpace.state} != nil">AND state = #{ScopeSpace.state} </if>
            <if test="{ScopeSpace.created_at} != nil">AND created_at = #{ScopeSpace.created_at} </if>
            <if test="{ScopeSpace.updated_at} != nil">AND updated_at = #{ScopeSpace.updated_at} </if>
        </where>
    </delete>

    <delete id="deleteScopeSpaceBatch">
        DELETE FROM scopespace
        WHERE id IN
        <foreach collection="{0}" index="index" item="item" open="(" close=")" separator=",">
            #{item.ScopeSpace.id}
        </foreach>
    </delete>
</mapper>
